@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0a192f;
  --primary: #ccd6f6;
  --secondary: #64ffda;
  --primary-light: #8892b0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--bg);
}

.fadeIn {
  opacity: 1;
  -webkit-animation: fadein 5s;
  -moz-animation: fadein 5s;
  -ms-animation: fadein 5s;
  -o-animation: fadein 5s;
  animation: fadein 5s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.item {
  height: 10rem;
  background-color: red;
  padding: 1rem;
  color: white;
}

ul,
ol {
  list-style-type: decimal !important;
}

.tabsTransition {
  transition: bottom 0.4s;
}

.aside-width {
  width: min(75vw, 400px);
}

.aboutMeHeading {
  font-size: clamp(23px, 5vw, 29px);
}

.contactHeading {
  font-size: clamp(40px, 5vw, 60px);
}
/* .marginLeft {
  margin-left: 70px;
}


.marginLeftResume {
  margin-left: 30px;
} */

.nameFontSize {
  font-size: clamp(14px, 5vw, 16px);
}

.big-heading {
  font-size: clamp(30px, 5vw, 68px);
}

.verticalText {
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-lr;
}

.filterImage {
  mix-blend-mode: multiply;
  filter: grayscale(60%) contrast(1);
}

.horizontalDir {
  -webkit-writing-mode: horizontal-tb;
  writing-mode: horizontal-tb;
}

.letterSpacing {
  letter-spacing: 0.2rem;
}
.listNone {
  list-style: none !important;
}
.marker\:text-secondary *::marker {
  color: transparent !important;
}
.font-family {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}
@font-face {
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  src: url("../public/fonts/Calibre/Calibre-Light.ttf");
}

.section-center {
  /* margin: 0 auto; */
  width: 60vw;
  height: 400px;
  max-width: 800px;
  text-align: start;
  /* text-align: center; */
  position: relative;
  display: flex;
  overflow: hidden;
}

article {
  position: absolute;
  /* padding: 20px; */
  top: 0;
  left: 0;
  width: 80%;
  height: 70%;
  opacity: 0;
  transition: all 0.3s linear;
  border-radius: 5px;
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

.person-img {
  width: 100%;
  height: 100%;
  /* object-fit: auto; */
  border-radius: 5px;
  object-fit: contain;
  /* object-fit: scale-down; */
  /* border: 1px solid #64ffda; */
}
article:hover {
  /* background: #64ffda; */
}
.person-img:hover {
  opacity: 0.9;
}
.prev,
.next {
  /* position: absolute; */
  /* top: 200px; */
  transform: translateY(-50%);
  /* background: var(--clr-grey-5); */
  color: white;
  width: 1.25rem;
  height: 1.25rem;
  /* display: grid; */
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}
.prev:hover,
.next:hover {
  background: var(--clr-primary-5);
}
.prev {
  left: -10px;
}
.next {
  right: 50px;
}
@media (min-width: 800px) {
  .text {
    max-width: 45em;
  }
  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
}
